* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'norse-bold';
    src: url('./fonts/norse-Bold.otf') format('opentype');
}

html, body {
    height: 100%;
}

body {
    background-image: url(./images/background-img.jpg);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.logo-side {
    background-color: rgba(0, 0, 0, 0.4);
    width: 40%;
    height: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 300px;
}

h1 {
    font-family: 'norse-bold', sans-serif;
    color: white;
    font-size: 6rem;

}
.logo-photo {
    height: 7rem;
}


form {
    display: flex;
    width: 60%;
    height: 100%;
    background-color: whitesmoke;
    flex-direction: column;
}

p {
    margin: 16px;
    padding: 100px 30px 0px 30px;
    height: 35%;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

div.inputs-section {
    height: 45%;
    background-color: white;
    padding: 30px 46px 30px 46px;
    box-shadow: 1px 1px 5px rgb(88, 156, 201);
}

legend {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

section.inputs-section {
    display: flex;
    width: 100%;
    height: 80%;
}

.submit-section {
    height: 20%;
}

div {
    margin: 0px;
    padding: 0px;
}



.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

label {
    display: block;
    font-size: 0.7rem;
    font-family: sans-serif;
    letter-spacing: 2px;
}

input {
    width: 75%;
    height: 28px;
    font-size: large;
    border: 1px solid rgba(52, 152, 219, 0.5);
    border-radius: 5px;
}

input:focus {
    border: 1px solid #2980b9;
    box-shadow: 1px 1px 5px rgb(32, 134, 202);
    outline: none;
}

.error {
    border: 1px solid red;
}



.submit-section {
    padding: 28px 46px;
}

button.submit-btn {
    width: 200px ;
    height: 40px;
    background-color: #596D48;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    border: 0px solid #000;
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: 0px 1px 2px 0px rgba(34, 55, 34, 0.7);
}

.login {
    padding: 0;
    margin: 0;
    font-size: small;
    font-weight: bold;
}

a {
    color: green;
}